.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  position: relative;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;

  .caretup-3 {
    transition: transform 0.5s ease-in-out;
  }
}

.sidebar .icon-instance-node {
  height: 38px !important;
  position: relative !important;
  width: 38px !important;
}

.sidebar.collapsed {
  transform: translateX(-230px);

  .caretup-3 {
    transform: rotate(-180deg);
  }
}

.sidebar .bottom {
  margin-top: auto !important;
}