* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  background-color: rgb(13, 26, 32) !important;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --accent: rgba(107, 225, 217, 1);
  --background: rgba(13, 26, 32, 1);
  --body-large-text-font-family: "Outfit-Medium", Helvetica;
  --body-large-text-font-size: 30px;
  --body-large-text-font-style: normal;
  --body-large-text-font-weight: 500;
  --body-large-text-letter-spacing: 0px;
  --body-large-text-line-height: normal;
  --body-small-text-font-family: "Outfit-Medium", Helvetica;
  --body-small-text-font-size: 24px;
  --body-small-text-font-style: normal;
  --body-small-text-font-weight: 500;
  --body-small-text-letter-spacing: 0px;
  --body-small-text-line-height: normal;
  --h1-header-text-font-family: "Outfit-Bold", Helvetica;
  --h1-header-text-font-size: 128px;
  --h1-header-text-font-style: normal;
  --h1-header-text-font-weight: 700;
  --h1-header-text-letter-spacing: 2.56px;
  --h1-header-text-line-height: normal;
  --h2-header-text-font-family: "Outfit-Bold", Helvetica;
  --h2-header-text-font-size: 73px;
  --h2-header-text-font-style: normal;
  --h2-header-text-font-weight: 700;
  --h2-header-text-letter-spacing: 2.19px;
  --h2-header-text-line-height: 100.99999904632568%;
  --h3-heading-text-font-family: "Outfit-Bold", Helvetica;
  --h3-heading-text-font-size: 46px;
  --h3-heading-text-font-style: normal;
  --h3-heading-text-font-weight: 700;
  --h3-heading-text-letter-spacing: 0px;
  --h3-heading-text-line-height: 100.99999904632568%;
  --h4-heading-text-font-family: "Outfit-Bold", Helvetica;
  --h4-heading-text-font-size: 37.5px;
  --h4-heading-text-font-style: normal;
  --h4-heading-text-font-weight: 700;
  --h4-heading-text-letter-spacing: 1.125px;
  --h4-heading-text-line-height: 100.99999904632568%;
  --onbackground: rgba(255, 255, 255, 1);
  --primary: rgba(174, 203, 250, 1);
  --secondary: rgba(253, 226, 147, 1);
  --subtitle-small-text-font-family: "Outfit-Bold", Helvetica;
  --subtitle-small-text-font-size: 24px;
  --subtitle-small-text-font-style: normal;
  --subtitle-small-text-font-weight: 700;
  --subtitle-small-text-letter-spacing: 3.84px;
  --subtitle-small-text-line-height: 100.99999904632568%;
  --subtitle-text-font-family: "Outfit-Bold", Helvetica;
  --subtitle-text-font-size: 32px;
  --subtitle-text-font-style: normal;
  --subtitle-text-font-weight: 700;
  --subtitle-text-letter-spacing: 3.2px;
  --subtitle-text-line-height: 100.99999904632568%;
  --surface: rgba(16, 33, 40, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.icon-instance-node-2 {
  height: 38px !important;
  position: relative !important;
  width: 38px !important;
}

.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 14px;
  padding: 7px 14px;
  position: relative;
  width: 300px;
}

.button .text-wrapper {
  color: var(--primary);
  flex: 1;
  font-family: var(--body-large-text-font-family);
  font-size: var(--body-large-text-font-size);
  font-style: var(--body-large-text-font-style);
  font-weight: var(--body-large-text-font-weight);
  height: 38px;
  letter-spacing: var(--body-large-text-letter-spacing);
  line-height: var(--body-large-text-line-height);
  margin-top: -1px;
  position: relative;
}

.button.hover {
  background-color: #6be0d81a;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  width: 300px;
  margin-left: -230px;
  flex-direction: column;
  transition: margin-left 0.5s ease-in-out;
  background-color: rgb(16, 33, 40);

  position: sticky;
  top: 0;
  bottom: 0;

  .caretup-3 {
    transition: transform 0.5s ease-in-out;
  }
}

.sidebar .icon-instance-node {
  height: 38px !important;
  position: relative !important;
  width: 38px !important;
}

.sidebar.collapsed {
  .caretup-3 {
    transform: rotate(-180deg);
  }
}

.sidebar.default {
  margin-left: 0px;
}

.sidebar .bottom {
  margin-top: auto !important;
}

.crosswordSpace {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  padding: 10px;
}