.icon-instance-node-2 {
    height: 38px !important;
    position: relative !important;
    width: 38px !important;
}

.button {
    all: unset;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 14px;
    padding: 7px 14px;
    position: relative;
    width: 300px;
}

.button .text-wrapper {
    color: var(--primary);
    flex: 1;
    font-family: var(--body-large-text-font-family);
    font-size: var(--body-large-text-font-size);
    font-style: var(--body-large-text-font-style);
    font-weight: var(--body-large-text-font-weight);
    height: 38px;
    letter-spacing: var(--body-large-text-letter-spacing);
    line-height: var(--body-large-text-line-height);
    margin-top: -1px;
    position: relative;
}

.button.hover {
    background-color: #6be0d81a;
}

.sidebar {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    width: 300px;
    margin-left: -230px;
    flex-direction: column;
    transition: margin-left 0.5s ease-in-out;
    background-color: rgb(16, 33, 40);

    position: sticky;
    top: 0;
    bottom: 0;

    .caretup-3 {
        transition: transform 0.5s ease-in-out;
    }
}

.sidebar .icon-instance-node {
    height: 38px !important;
    position: relative !important;
    width: 38px !important;
}

.sidebar.collapsed {
    .caretup-3 {
        transform: rotate(-180deg);
    }
}

.sidebar.default {
    margin-left: 0px;
}

.sidebar .bottom {
    margin-top: auto !important;
}

.crosswordSpace {
    display: flex;
    position: relative;
    height: 100vh;
    flex-direction: column;
    transition: width 0.5s ease-in-out;

}