.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 14px;
  padding: 7px 14px;
  position: relative;
  width: 300px;
}

.button .text-wrapper {
  color: var(--primary);
  flex: 1;
  font-family: var(--body-large-text-font-family);
  font-size: var(--body-large-text-font-size);
  font-style: var(--body-large-text-font-style);
  font-weight: var(--body-large-text-font-weight);
  height: 38px;
  letter-spacing: var(--body-large-text-letter-spacing);
  line-height: var(--body-large-text-line-height);
  margin-top: -1px;
  position: relative;
}

.button .caret-up {
  height: 38px !important;
  position: relative !important;
  width: 38px !important;
}

.button.hover {
  background-color: #6be0d81a;
}
